@charset "utf-8";
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, form, input, button, textarea, p, th, td { margin: 0; padding: 0; }
fieldset, img, input, button { font-family: "Microsoft Yahei", "PingFang SC", "Helvetica Neue"; border: 0; }
:link, :visited { text-decoration: none; }
ul { list-style-type: none; }
a, input { outline: none; }
body { font-family: "Microsoft Yahei", "PingFang SC", "Helvetica Neue"; background: #fff; color: #666; font-size: 14px; }
strong, em, i, s { font-weight: normal; font-style: normal; }
.area { width: 1200px; margin: 0 auto; _overflow: hidden; _zoom: 1; }
.area:after { content: "."; height: 0; display: block; clear: both; visibility: hidden; }
.hide { display: none; }
.text-hide { text-indent: -999px; overflow: hidden; }
/*top*/
.site-topbar{
	height: 40px;
	border-bottom: 1px solid #d9d9d9;
}
/*footer*/